In [44]:
import pandas as pd

In [45]:
# web scraping using pandas
url = 'https://www.espncricinfo.com/series/ipl-2021-1249214/most-valuable-players'
allTable = pd.read_html(url)
print(len(allTable))

2

In [46]:
print(allTable[0])

                   Player Team  Impact/Mat  Total Impact  Matches  Runs Wkts
0             1Avesh Khan   DC        43.6         698.7       16     5   24
1          2Glenn Maxwell  RCB        46.5         697.9       15   513    3
2        3Ruturaj Gaikwad  CSK        41.3         661.4       16   635    -
3           4Prithvi Shaw   DC        43.4         651.2       15   479    -
4         5Faf du Plessis  CSK        39.5         632.3       16   633    -
..                    ...  ...         ...           ...      ...   ...  ...
163        164Sachin Baby  RCB        -9.3          -9.3        1     7    -
164         165Ben Stokes   RR        -9.4          -9.4        1     0    -
165  166Wanindu Hasaranga  RCB        -5.9         -11.8        2     1    -
166        167Virat Singh  SRH        -6.5         -19.5        3    15    -
167      168Navdeep Saini  RCB       -11.1         -22.1        2     2    -

[168 rows x 7 columns]

In [47]:
df = allTable[0]

In [48]:
# data cleaning
def remove_numbers(string):
    """
        return re.sub() returns the result of the re.sub() function.
        r'\d+' is a regular expression that matches any sequence of one or more digits.
        '' is an empty string.
    """
    import re
    return re.sub(r'\d+', '', string)

# Apply the function to the "Player" column
df['Player'] = df['Player'].apply(remove_numbers)
print(df)

                Player Team  Impact/Mat  Total Impact  Matches  Runs Wkts
0           Avesh Khan   DC        43.6         698.7       16     5   24
1        Glenn Maxwell  RCB        46.5         697.9       15   513    3
2      Ruturaj Gaikwad  CSK        41.3         661.4       16   635    -
3         Prithvi Shaw   DC        43.4         651.2       15   479    -
4       Faf du Plessis  CSK        39.5         632.3       16   633    -
..                 ...  ...         ...           ...      ...   ...  ...
163        Sachin Baby  RCB        -9.3          -9.3        1     7    -
164         Ben Stokes   RR        -9.4          -9.4        1     0    -
165  Wanindu Hasaranga  RCB        -5.9         -11.8        2     1    -
166        Virat Singh  SRH        -6.5         -19.5        3    15    -
167      Navdeep Saini  RCB       -11.1         -22.1        2     2    -

[168 rows x 7 columns]

In [49]:
# Drop the unwanted "Impact/Mat" column
df = df.drop('Impact/Mat', axis=1)
print(df)

                Player Team  Total Impact  Matches  Runs Wkts
0           Avesh Khan   DC         698.7       16     5   24
1        Glenn Maxwell  RCB         697.9       15   513    3
2      Ruturaj Gaikwad  CSK         661.4       16   635    -
3         Prithvi Shaw   DC         651.2       15   479    -
4       Faf du Plessis  CSK         632.3       16   633    -
..                 ...  ...           ...      ...   ...  ...
163        Sachin Baby  RCB          -9.3        1     7    -
164         Ben Stokes   RR          -9.4        1     0    -
165  Wanindu Hasaranga  RCB         -11.8        2     1    -
166        Virat Singh  SRH         -19.5        3    15    -
167      Navdeep Saini  RCB         -22.1        2     2    -

[168 rows x 6 columns]

In [50]:
# Rename the "Total Impact" column to "Uptox_Points"
df = df.rename(columns={'Total Impact': 'Uptox_Points'})
print(df)

                Player Team  Uptox_Points  Matches  Runs Wkts
0           Avesh Khan   DC         698.7       16     5   24
1        Glenn Maxwell  RCB         697.9       15   513    3
2      Ruturaj Gaikwad  CSK         661.4       16   635    -
3         Prithvi Shaw   DC         651.2       15   479    -
4       Faf du Plessis  CSK         632.3       16   633    -
..                 ...  ...           ...      ...   ...  ...
163        Sachin Baby  RCB          -9.3        1     7    -
164         Ben Stokes   RR          -9.4        1     0    -
165  Wanindu Hasaranga  RCB         -11.8        2     1    -
166        Virat Singh  SRH         -19.5        3    15    -
167      Navdeep Saini  RCB         -22.1        2     2    -

[168 rows x 6 columns]

In [51]:
# Replace rows(_) with 0 of "Wkts" column
df['Wkts'] = df['Wkts'].replace('-', 0)
print(df)

                Player Team  Uptox_Points  Matches  Runs Wkts
0           Avesh Khan   DC         698.7       16     5   24
1        Glenn Maxwell  RCB         697.9       15   513    3
2      Ruturaj Gaikwad  CSK         661.4       16   635    0
3         Prithvi Shaw   DC         651.2       15   479    0
4       Faf du Plessis  CSK         632.3       16   633    0
..                 ...  ...           ...      ...   ...  ...
163        Sachin Baby  RCB          -9.3        1     7    0
164         Ben Stokes   RR          -9.4        1     0    0
165  Wanindu Hasaranga  RCB         -11.8        2     1    0
166        Virat Singh  SRH         -19.5        3    15    0
167      Navdeep Saini  RCB         -22.1        2     2    0

[168 rows x 6 columns]

In [52]:
fc = (df["Team"] == "MI") # fc i.e filter condition
mi = df.loc[fc, ["Player", "Uptox_Points", "Runs", "Wkts"]]
print(mi.sort_values(by = "Uptox_Points", ascending = False))

                  Player  Uptox_Points  Runs Wkts
14        Jasprit Bumrah         498.5    16   21
26        Kieron Pollard         413.9   245    5
27          Rahul Chahar         407.2    14   13
29          Rohit Sharma         401.2   381    0
36      Suryakumar Yadav         370.8   317    0
40           Trent Boult         345.1     1   13
56       Quinton de Kock         242.2   297    0
65         Krunal Pandya         213.2   143    5
67          Ishan Kishan         199.1   241    0
82   Nathan Coulter-Nile         143.6     4    7
95        Saurabh Tiwary         114.7   115    0
100         Jayant Yadav         107.6    34    2
104        James Neesham          79.9     0    5
105        Hardik Pandya          78.8   127    0
110           Chris Lynn          64.3    49    0
111         Marco Jansen          60.6     0    2
114           Adam Milne          57.2    16    3
136     Anmolpreet Singh          19.6    16    0
139        Piyush Chawla          16.2     0    1
148      Dhawal Kulkarni           7.8     0    0

In [53]:
mi_data = {"Player":["Cameron Green", "Suryakumar Yadav", "Piyush Chawla", "Ishan Kishan", "Tilak Varma", "Jason Behrendorff", "Akash Madhwal", "Rohit Sharma", "Tim David", "Chris Jordan", "Nehal Wadhera", "Jofra Archer"], 
        "Role":["Allrounder", "Batter", "Bowler", "Keeper", "Batter", "Bowler", "Bowler", "Batter", "Batter", "Bowler", "Bowler", "Allrounder"],
        "Team":["MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI"],  
        "Credits":[9.0, 9.5, 8.0, 10.5, 9.0, 9.0, 9.0, 8.5, 8.5, 10.5, 10.5, 10.5], 
        "Points":[687.4, 679.8, 657.5, 458.9, 427.1, 373.4, 290.5, 284.6, 210.9, 64.2, 226.2, 92.7]}
mi_df = pd.DataFrame(mi_data)
print(mi_df)

               Player        Role Team  Credits  Points
0       Cameron Green  Allrounder   MI      9.0   687.4
1    Suryakumar Yadav      Batter   MI      9.5   679.8
2       Piyush Chawla      Bowler   MI      8.0   657.5
3        Ishan Kishan      Keeper   MI     10.5   458.9
4         Tilak Varma      Batter   MI      9.0   427.1
5   Jason Behrendorff      Bowler   MI      9.0   373.4
6       Akash Madhwal      Bowler   MI      9.0   290.5
7        Rohit Sharma      Batter   MI      8.5   284.6
8           Tim David      Batter   MI      8.5   210.9
9        Chris Jordan      Bowler   MI     10.5    64.2
10      Nehal Wadhera      Bowler   MI     10.5   226.2
11       Jofra Archer  Allrounder   MI     10.5    92.7

In [54]:
fc = (df["Team"] == "CSK") # filter condition
csk = df.loc[fc, ["Player", "Uptox_Points", "Runs", "Wkts"]]
print(csk.sort_values(by = "Uptox_Points", ascending = False))

              Player  Uptox_Points  Runs Wkts
2    Ruturaj Gaikwad         661.4   635    0
4     Faf du Plessis         632.3   633    0
10   Ravindra Jadeja         576.2   227   13
17    Shardul Thakur         463.2     5   21
20         Moeen Ali         448.0   357    6
25     Deepak Chahar         423.2     1   14
46      Dwayne Bravo         314.0    47   14
47        Sam Curran         311.1    56    9
49     Ambati Rayudu         299.2   257    0
58    Josh Hazlewood         237.4     0   11
86      Suresh Raina         129.3   160    0
87     Robin Uthappa         129.1   115    0
96       Lungi Ngidi         114.7     0    5
119         MS Dhoni          48.0   114    0
128          KM Asif          36.4     0    1
137      Imran Tahir          17.4     0    2

In [55]:
csk_data = {"Player":["Ravindra Jadeja", "Ruturaj Gaikwad", "Devon Conway", "Tushar Deshpande", "Ajinkya Rahane", "Shivam Dube", "Moeen Ali", "Matheesha Pathirana", "Deepak Chahar", "Maheesh Theekshana", "MS Dhoni", "Ambati Rayudu"], 
        "Role":["Allrounder", "Batter", "Batter", "Bowler", "Batter", "Allrounder", "Allrounder", "Bowler", "Bowler", "Bowler", "Keeper", "Batter"],
        "Team":["CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK"],  
        "Credits":[9.0, 9.5, 8.0, 10.5, 9.0, 9.0, 9.0, 8.5, 8.5, 10.5, 10.5, 10.5], 
        "Points":[718.6, 651.9, 599.9, 402.8, 399.5, 391.9, 338.0, 315.5, 304.6, 271.1, 141.9, 141.2]}
csk_df = pd.DataFrame(csk_data)
print(csk_df)

                 Player        Role Team  Credits  Points
0       Ravindra Jadeja  Allrounder  CSK      9.0   718.6
1       Ruturaj Gaikwad      Batter  CSK      9.5   651.9
2          Devon Conway      Batter  CSK      8.0   599.9
3      Tushar Deshpande      Bowler  CSK     10.5   402.8
4        Ajinkya Rahane      Batter  CSK      9.0   399.5
5           Shivam Dube  Allrounder  CSK      9.0   391.9
6             Moeen Ali  Allrounder  CSK      9.0   338.0
7   Matheesha Pathirana      Bowler  CSK      8.5   315.5
8         Deepak Chahar      Bowler  CSK      8.5   304.6
9    Maheesh Theekshana      Bowler  CSK     10.5   271.1
10             MS Dhoni      Keeper  CSK     10.5   141.9
11        Ambati Rayudu      Batter  CSK     10.5   141.2

In [56]:
# Merge the two tables on the common column names
merged_df = pd.concat([mi_df, csk_df],axis=0) # axis = 0 i.e change on rows, not in column names
print(merged_df)

                 Player        Role Team  Credits  Points
0         Cameron Green  Allrounder   MI      9.0   687.4
1      Suryakumar Yadav      Batter   MI      9.5   679.8
2         Piyush Chawla      Bowler   MI      8.0   657.5
3          Ishan Kishan      Keeper   MI     10.5   458.9
4           Tilak Varma      Batter   MI      9.0   427.1
5     Jason Behrendorff      Bowler   MI      9.0   373.4
6         Akash Madhwal      Bowler   MI      9.0   290.5
7          Rohit Sharma      Batter   MI      8.5   284.6
8             Tim David      Batter   MI      8.5   210.9
9          Chris Jordan      Bowler   MI     10.5    64.2
10        Nehal Wadhera      Bowler   MI     10.5   226.2
11         Jofra Archer  Allrounder   MI     10.5    92.7
0       Ravindra Jadeja  Allrounder  CSK      9.0   718.6
1       Ruturaj Gaikwad      Batter  CSK      9.5   651.9
2          Devon Conway      Batter  CSK      8.0   599.9
3      Tushar Deshpande      Bowler  CSK     10.5   402.8
4        Ajinkya Rahane      Batter  CSK      9.0   399.5
5           Shivam Dube  Allrounder  CSK      9.0   391.9
6             Moeen Ali  Allrounder  CSK      9.0   338.0
7   Matheesha Pathirana      Bowler  CSK      8.5   315.5
8         Deepak Chahar      Bowler  CSK      8.5   304.6
9    Maheesh Theekshana      Bowler  CSK     10.5   271.1
10             MS Dhoni      Keeper  CSK     10.5   141.9
11        Ambati Rayudu      Batter  CSK     10.5   141.2

In [57]:
merged_df.to_csv("sample_twoTteams.csv")