In [2]:
import pandas as pd

In [3]:
data = {"Player":["MSD", "Surya", "Pandya"], "Team":["CSK", "MI", "GT"], "Role":["Keeper", "Batsman", "Allrounder"], "Credits":[11, 12, 13], "Points":[110, 120, 130]}
df = pd.DataFrame(data)
df.head(3)

   Player Team        Role  Credits  Points
0     MSD  CSK      Keeper       11     110
1   Surya   MI     Batsman       12     120
2  Pandya   GT  Allrounder       13     130

In [6]:
df.set_index("Player", inplace = True)

In [10]:
# sntax => df.loc[row, column]
print(df.loc["MSD"])

Team          CSK
Role       Keeper
Credits        11
Points        110
Name: MSD, dtype: object

In [11]:
print(df.loc["MSD", "Team"])

CSK

In [13]:
# all row, only one column
print(df.loc[:, "Team"])

Player
MSD       CSK
Surya      MI
Pandya     GT
Name: Team, dtype: object

In [14]:
# 2 row, 2 column
print(df.loc[["MSD", "Surya"], ["Role", "Points"]])

           Role  Points
Player
MSD      Keeper     110
Surya   Batsman     120

In [25]:
# filter column
fc = (df["Points"] >= 120)
print(df.loc[fc, "Role"])

Player
Surya        Batsman
Pandya    Allrounder
Name: Role, dtype: object